@use 'variables' as a;

.techai {
  max-width: 111rem;
  width: calc(100% - 8rem);
  margin: 0 9rem;
  &__main {
    text-align: center;
  }
  &__heading {
    font-size: a.$fs-accent;
    color: a.$color-main;
    &>* {
      display: block;
    }
    &--sub {
      font-weight: a.$fw-200;
    }
    &--main {
      font-weight: a.$fw-600;
    }
  }
  &__description {
    font-size: a.$fs-sub;
    font-weight: a.$fw-400;
  }
  &__items {
    display: grid;
    //grid-template-areas: ;
  }
  &__list {
    max-width: 35rem;
    border-top: .5rem solid red;
    border-radius: .5rem;
    display: grid;
    padding: 3.5rem;
    gap: 1rem;
  }
  &__product {
    font-size: a.$fs-main;
    color: a.$color-main;
    font-weight: a.$fw-600;
  }
  &__product-description {
    font-size: a.$fs-mini;
    font-weight: a.$fw-400;
  }
  &__img {
    float: right;
  }
  
}