@use 'variables' as a;

.techai {
  max-width: 111rem;
  width: calc(100% - 4rem);
  margin: 9rem 0;
  &__main {
    max-width: 54rem;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
  }
  &__heading {
    font-size: a.$fs-accent;
    color: a.$color-main;
    &>* {
      display: block;
    }
    &--sub {
      font-weight: a.$fw-200;
    }
    &--main {
      font-weight: a.$fw-600;
    }
  }
  &__description {
    font-size: a.$fs-sub;
    font-weight: a.$fw-400;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  &__list {
    max-width: 35rem;
    border-top: .5rem solid;
    border-radius: .5rem;
    background: a.$color-bg-card;
    padding: 3.5rem;
    gap: 1rem;
    box-shadow: 0 .25rem .5rem a.$color-main;
    margin-bottom: 1rem;
    display: grid;
  }

  &__product {
    font-size: a.$fs-main;
    color: a.$color-main;
    font-weight: a.$fw-600;
  }
  &__product-description {
    font-size: a.$fs-mini;
    font-weight: a.$fw-400;
  }
  &__img {
    margin-left: auto;
  }
}

.supervisor {
  border-color: a.$color-supervisor;
  grid-row: 2 / 4;
}
.karma {
  border-color: a.$color-karma;
  grid-row: 3 / 5;
  grid-column: 2;
}
.calculator{
  border-color: a.$color-calculator;
  grid-row: 2 / 4;
}
.team {
  border-color: a.$color-team;
  grid-row: 1 / 3;
  grid-column: 2;
}

@media (max-width: 1110px) {
  .techai {
    
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
    }
  }
}

@media (max-width: 428px) {
  .techai {
    &__heading {
      font-size: a.$fs-main;
    }
    &__description {
      font-size: a.$fs-mini;
    }
    
  }
}


