// font //
$ff-main: 'Poppins', sans-serif;

// font size//
$fs-main: 2.4rem;
$fs-sub: 1.5rem;

// font weight//
$fw-200: 200;
$fw-400: 400;
$fw-600: 600;
// color //
$color-sub: hsl(229, 6%, 66%);
$color-main: hsl(234, 12%, 34%);
$color-bg: hsl(0, 0%, 98%);
$color-bg-card: hsl(0, 0%, 100%);
$color-builder: hsl(0, 78%, 62%);
$color-supervisor: hsl(180, 62%, 55%);
$color-karma: hsl(34, 97%, 64%);
$color-calculator: hsl(212, 86%, 64%);









